@{
    ViewBag.Title = "Home Page";
}
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                Olá, tudo bem?<br /><br />

                Queremos escutar você!!!<br /><br />

                Deseja fazer um elogio ou tem alguma reclamação ou sugestão sobre o atendimento do CV?<br /><br />

                Você pode ficar à vontade para nos contar como foi sua experiência no atendimento. Esse canal é totalmente sigiloso e seus dados não serão revelados ao responsável direto do chamado.
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto">
                <br />
                <b>Informe a sua Unidade de Negócio e o seu Setor.</b>
                <br />
                <br />
                <textarea class="form-control" style="min-width: 50%; height: 80px;"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto">
                <br />
                <b>Qual o número do seu chamado? (Opcional) </b>
                <br />
                <br />
                <textarea class="form-control" style="min-width: 50%; height: 80px;"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto">
                <br />
                <b>O que você deseja comentar?</b>
                <br />
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="reclamacao" value="1" checked>
                    <label class="form-check-label" for="reclamacao">
                        Reclamação
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="elogio" value="option2">
                    <label class="form-check-label" for="elogio">
                        Elogio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="sugestao" value="option2">
                    <label class="form-check-label" for="sugestao">
                        Sugestão
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto">
                <br />
                <b>Compartilhe conosco o que aconteceu, explicando com detalhes como foi o seu atendimento e qual impacto ele causou.  </b>
                <br />
                <br />
                <textarea class="form-control" style="min-width: 50%; height: 100px;"></textarea>
            </div>
        </div>
    </div>